#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-mod-tap";
            #binding-cells = <2>;
            tapping-term-ms = <215>;
        };
        mt_vim: mod_tap_vim {
            compatible = "zmk,behavior-mod-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };
        qt: quick_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };
    };

    macros {
        macro_undo {
            label = "UNDO";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp Z>;
        };
        macro_cut {
            label = "CUT";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp X>;
        };
        macro_copy {
            label = "COPY";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp C>;
        };
        macro_paste {
            label = "PASTE";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp V>;
        };
        macro_redo {
            label = "REDO";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp Y>;
        };
        macro_lalttab {
            label = "LALT_TAB";
            compatible = "zmk,macro";
            bindings = <&kp LALT &kp TAB>;
        };
        macro_rctrltab {
            label = "RCTRL_TAB";
            compatible = "zmk,macro";
            bindings = <&kp RCTRL &kp TAB>;
        };
        macro_winshot {
            label = "WINSHOT";
            compatible = "zmk,macro";
            bindings = <&kp LGUI &kp S>;
        };
        macro_cad {
            label = "CAD";
            compatible = "zmk,macro";
            bindings = <&kp LALT &kp LCTRL &kp DEL>;
        };
        macro_macro2 {
            label = "MACRO2";
            compatible = "zmk,macro";
            bindings = <&kp Y &kp N0 &kp N4 &kp N5 &kp N7 &kp N9 &kp N5 &kp R &kp H &kp N3 &kp C &kp T &kp N0 &kp R &kp R &kp N3 &kp N4 &kp L &kp P &kp N3 &kp C &kp N4 &kp S &kp T &kp R &kp N1 &kp L &kp L &kp N0>;
        };
        macro_macro3 {
            label = "MACRO3";
            compatible = "zmk,macro";
            bindings = <&kp Z &kp N9 &kp T &kp N4 &kp J &kp H &kp N4 &kp Z &kp Q &kp H &kp N4 &kp B &kp F &kp P &kp I>;
        };
        macro_macro4 {
            label = "MACRO4";
            compatible = "zmk,macro";
            bindings = <&kp N2 &kp N4 &kp N1 &kp N7 &kp N9 &kp N0 &kp N6>;
        };
        macro_macro5 {
            label = "MACRO5";
            compatible = "zmk,macro";
            bindings = <&kp B &kp N3 &kp L &kp N4 &kp N &kp R &kp V &kp N1 &kp Z &kp F &kp N3 &kp R &kp N &kp N4 &kp N3 &kp Z>;
        };
        macro_macro6 {
            label = "MACRO6";
            compatible = "zmk,macro";
            bindings = <&kp N3 &kp S &kp T &kp R &kp N3 &kp L &kp L &kp N4 &kp R &kp N3 &kp N4 &kp L &kp P &kp N3 &kp N7 &kp R &kp V &kp N1 &kp Z>;
        };
        macro_ctrl_shift_left {
            label = "CTRL_SHIFT_LEFT";
            compatible = "zmk,macro";
            bindings = <&kp LCTRL &kp LSHIFT &kp LEFT>;
        };
    };

    tap_dances {
        compatible = "zmk,tap-dance";
        td_q_tab {
            label = "TD_Q_TAB";
            tapping-term-ms = <215>;
            bindings = <&kp Q &kp TAB>;
        };
        td_a_esc {
            label = "TD_A_ESC";
            tapping-term-ms = <215>;
            bindings = <&kp A &kp ESC>;
        };
        td_onegr {
            label = "TD_ONEGR";
            tapping-term-ms = <215>;
            bindings = <&kp N1 &kp GRAVE>;
        };
        td_extil {
            label = "TD_EXTIL";
            tapping-term-ms = <215>;
            bindings = <&kp N1 &kp GRAVE>;
        };
        td_sclqt {
            label = "TD_SCLQT";
            tapping-term-ms = <215>;
            bindings = <&kp SCLN &kp QUOT>;
        };
        td_whome {
            label = "TD_WHOME";
            tapping-term-ms = <215>;
            bindings = <&kp W &kp HOME>;
        };
        td_eend {
            label = "TD_EEND";
            tapping-term-ms = <215>;
            bindings = <&kp E &kp END>;
        };
        td_ene {
            label = "TD_ENE";
            tapping-term-ms = <215>;
            bindings = <&kp N &kp RALT &kp N>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_adjust {
            timeout-ms = <200>;
            key-positions = <30 31>;
            bindings = <&mo ADJUST>;
        };
        combo_num {
            timeout-ms = <200>;
            key-positions = <31 32>;
            bindings = <&mo NUM>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            label = "QWERTY";
            bindings = <
                &td_q_tab &td_whome &td_eend &kp R &kp T        &kp Y &kp U &kp I &kp O &kp P
                &td_a_esc &kp S &kp D &kp F &kp G              &mt_vim H &mt_vim J &mt_vim K &mt_vim L &td_sclqt
                &mt LSHIFT Z &mt LCTRL X &mt LALT C &mt LGUI V &kp B &td_ene &mt RGUI M &mt RALT COMM &mt RCTRL DOT &mt RSHIFT SLASH
                                    &lt LOWER BSPC &qt &kp LSHIFT &kp SPC    &kp SPC &lt RAISE ENT
            >;
        };

        lower_layer {
            label = "LOWER";
            bindings = <
                &td_onegr &kp N2 &kp N3 &kp N4 &kp N5         &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                &kp ESC &macro_lalttab &macro_rctrltab &kp REPEAT &kp TAB &kp BSLS &kp MINUS &kp EQUAL &kp LBKT &kp RBKT
                &macro_undo &macro_cut &macro_copy &macro_paste &macro_redo &kp CAPS &kp CW_TOGG &mt LALT COMM &kp DOT &kp SLASH
                                    &trans &kp ENT    &mo ADJUST &tog MOV
            >;
        };

        raise_layer {
            label = "RAISE";
            bindings = <
                &td_extil &kp AT &kp HASH &kp DLR &kp PERC    &kp CIRC &kp AMPS &kp ASTR &kp LPAR &kp RPAR
                &kp PSCR &macro_winshot &kp PGUP &kp PGDN &macro_cad &kp PIPE &kp UNDER &kp PLUS &kp LCBR &kp RCBR
                &kp PLAY &kp REC &kp PLAY &kp REC &kp STOP &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans
                                    &tog MOV &trans    &trans &trans
            >;
        };

        mov_layer {
            label = "MOV";
            bindings = <
                &kp TOG_QWERTY &kp TOG_ACL0 &kp TOG_ACL1 &kp TOG_ACL2 &kp TOG_QWERTY &kp PLAY &kp VOL_DOWN &kp VOL_UP &kp MUTE &kp TOG_QWERTY
                &kp TOG_QWERTY &kp TOG_QWERTY &kp MS_BTN2 &kp MS_BTN1 &kp TOG_QWERTY &kp WH_L &kp WH_D &kp WH_U &kp WH_R &kp TOG_QWERTY
                &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &kp TOG_QWERTY &kp WH_L &kp WH_D &kp WH_U &kp WH_R &kp TOG_QWERTY
                                    &trans &trans    &trans &trans
            >;
        };

        adjust_layer {
            label = "ADJUST";
            bindings = <
                &trans &trans &kp END &bt BT_CLR &bt BT_SEL 0        &bt BT_SEL 3 &macro_macro3 &macro_macro4 &macro_macro2 &trans
                &kp HOME &trans &kp BRIU &kp BRID &bt BT_SEL 1    &macro_macro5 &macro_macro6 &trans &trans &trans
                &trans &trans &trans &trans &bt BT_SEL 2         &trans &kp AC_TOGG &trans &trans &bootloader
                                    &trans &trans    &trans &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &kp MS_BTN2 &kp MS_BTN1 &kp MS_U &kp DEL &kp BSPC
                &kp F6 &kp F7 &kp F8 &kp F9 &kp F10        &kp MS_BTN3 &kp MS_L &kp MS_D &kp MS_R &kp QUOT
                &kp F11 &kp F12 &trans &trans &trans       &trans &kp LEFT &trans &trans &trans
                                    &trans &trans    &trans &trans
            >;
        };
    };
};